@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Zen+Kaku+Gothic+Antique&display=swap');

.container {
  /* Size and Color */
  min-height: 100vh;
  left: 0;
  right: 0;
  color: #e6e6e6;

  /* Positioning and Alignment */
  display: flex;
  flex-direction: column;

  /* Font and Text Size */
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}