@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');

.container {
  /* Size and Color */
  min-height: 100vh;
  background-color: rgb(35, 35, 35);
  color: #e6e6e6;

  /* Positioning and Alignment */
  display: flex;
  flex-direction: column;

  /* Font and Text Size */
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}