.container {
    /* Size and Color */
    width: 90vw;

    /* Positioning and Alignment */
    display: flex;
    flex-direction: column;
    align-self: center;
}

.listContainer {
    /* Positioning and Alignment */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    align-items: flex-start;
}

.list {
    /* Size and Color */
    background-color: rgba(50, 50, 50, 0.5);

    /* Positioning and Alignment */
    margin: .5rem;
    list-style: none;

    /* Border and Styling */
    border: 2px solid #e6e6e6;
    border-radius: 5px;
    padding: 1rem;

    -webkit-tap-highlight-color: transparent;
}

.hr {
    color: #e6e6e6;
}

.reduceSpace {
    margin: 0;
}

.infoContainer {
    display: flex;
    justify-content: space-between;
}

.deployedLink {
    border: 2px solid #e6e6e6;
    padding: .5rem;
    align-self: center;
    z-index: 100;
    border-radius: 5px;
}

@media (min-width: 700px) {
    .container {
        /* Size and Color */
        width: 60vw;

        /* Positioning and Alignment */
        align-self: center;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 50vw;
    }

    .listContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}